// Home Content

.home {

  .intro {

    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }

  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .MediaTablet({.sky{display: none} .launch{display: none}});
    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
      .MediaTablet({width:100%;});
    }
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
    .MediaTablet({flex-direction: column;align-items: center; justify-content: center;});
    .MediaTablet({width: 100%; padding: 30px 0px});
    .walk-text {
      width: 50%;
      .MediaTablet({width: 100%; padding: 30px 0px});
      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

    }
    .button{
      width:50%;
      height:10%;
      .button(	#000000, #fff);
      h4{
        text-align: center;
        color:white;
        padding: 0px;
        margin: auto;
        .MediaTablet({font-size: 2rem;});
      }


      .MediaTablet({width: 100%; padding: 30px 5px});
    }
    .walk-img {
      .MediaTablet({order:-1;
      width: 100%;});
        width: 46%;
      margin-left: 4%;


      img {

        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }
}// home
